/*******************************************************************************
//
//
//
//  #CONTENT
//
//
//
*******************************************************************************/

.c-content {
    padding-top: 50vh;

    html.js & {
        opacity: 0;
        transition: opacity .75s cubic-bezier(0.785, 0.135, 0.150, 0.860) .5s;
    }

    html.js.is-page-ready & {
        opacity: 1;
    }
}