
/*******************************************************************************
//
//
//
//  #FOOTER
//
//
//
*******************************************************************************/

.c-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq-until(md) {
        padding: 15px 0;
    }

    @include mq-at-least(md) {
        height: 140px;
    }
}