/*******************************************************************************
//
//
//
//  #FORM
//
//
//
*******************************************************************************/

.c-form {
    .c-form__group {
        margin: 0 0 map-get($spacers, md);
    }

    /***************************************************************************
    //  #CHECKBOX AND RADIO
    ***************************************************************************/

    /*
    *
    *    HTML
    *
    *    <div class="c-form__checkbox">
    *        <input id="checkbox-1" name="checkbox-1" type="checkbox" value="1">
    *        <label for="checkbox-1">Checkbox 1</label>
    *    </div>
    *
    *    <div class="c-form__radio">
    *        <input id="radio-1" name="radio" type="radio" value="1">
    *        <label for="radio-1">Radio 1</label>
    *    </div>
    *
    */

    .c-form__checkbox,
    .c-form__radio {
        display: inline-block;
        padding-left: em(21px);
        margin: 0 map-get($spacers, xs) map-get($spacers, xxxs) 0;
        position: relative;
    }

    .c-form__checkbox input[type='checkbox'],
    .c-form__radio input[type='radio'] {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        z-index: 1;
    }

    .c-form__checkbox input[type='checkbox']+label,
    .c-form__radio input[type='radio']+label {
        display: block;
        padding: 0 0 0 em(4px);
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .c-form__checkbox input[type='checkbox']+label:after,
    .c-form__checkbox input[type='checkbox']+label:before,
    .c-form__radio input[type='radio']+label:after,
    .c-form__radio input[type='radio']+label:before {
        content: '';
        display: block;
        width: em(16px);
        height: em(16px);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }

    .c-form__radio input[type='radio']+label:after,
    .c-form__radio input[type='radio']+label:before {
        border-radius: 50%;
    }

    .c-form__checkbox input[type='checkbox']+label:before,
    .c-form__radio input[type='radio']+label:before {
        content: '';
        border: 1px solid var(--color-border);
    }

    .c-form__checkbox input[type=checkbox]:checked+label:after,
    .c-form__radio input[type=radio]:checked+label:after {
        content: '';
        background-color: var(--color-accent);
        border: 1px solid var(--color-border);
    }

    .c-form__select {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: em(8px) em(26px) em(8px) em(8px);
        margin: 0;
        appearance: none;
        background-color: map-get($colors, white);
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCAxMDAgNTAiPgogIDxwb2x5Z29uIHBvaW50cz0iMCAwIDUwIDUwIDEwMCAwIDAgMCIvPgo8L3N2Zz4K');
        background-repeat: no-repeat;
        background-position: right em(8px) top 50%;
        background-size: em(10px) auto;
        border: 1px solid var(--color-border);
        border-radius: 0;

        &::-ms-expand {
            display: none;
        }

        &:focus {
            border-color: var(--color-border-focus);
            outline: 0;
        }

        & option {
            font-weight: normal;
        }
    }
}