/*******************************************************************************
//
//
//
//  #POST EXCERPT
//
//
//
*******************************************************************************/

.c-post-excerpt {
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: map-get($spacers, xl);

        @include mq-at-least(md) {
            margin-bottom: map-get($spacers, xxxl);
        }
    }

    .c-post-excerpt__date {
        display: block;
        color: var(--color-accent);
        margin: 0 0 map-get($spacers, sm);

        @include mq-at-least(md) {
            margin-bottom: map-get($spacers, md);
        }
    }

    .c-post-excerpt__date {
        $post-date-sizes: (
            md: map-get($font-sizes, md),
        );

        @extend %u-text-heebo;

        display: block;
        margin: 0 0 map-get($spacers, sm);
        color: var(--color-tertiary);
        font-size: map-get($font-sizes, xs);
        font-weight: 700;

        @each $breakpoint, $fontSize in $post-date-sizes {
            @include mq-at-least($breakpoint) {
                @include font-size($fontSize, false);
            }
        }
    }

    .c-post-excerpt__tags {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            &:not(:last-child) { margin: 0 map-get($spacers, xxs) 0 0; }
        }
    }

    .c-post-excerpt__title {
        $post-excerpt-title-sizes: (
            md: map-get($font-sizes, xxxl),
            lg: map-get($font-sizes, xxxxl),
        );

        @extend %u-text-din;

        margin: 0 0 map-get($spacers, sm);
        font-size: map-get($font-sizes, xl);

        @each $breakpoint, $fontSize in $post-excerpt-title-sizes {
            @include mq-at-least($breakpoint) {
                @include font-size($fontSize, false);
            }
        }
    }
}