/*******************************************************************************
//
//
//
//  #SKIP TO CONTENT
//
//
//
*******************************************************************************/

.c-skip-to-content {
    position: fixed;
    top: -100px;
    left: 50%;
    z-index: map-get($z-index, skip-to-link);
    transform: translate(-50%,0);

    &:focus {
        top: 40px;
    }
}