/*******************************************************************************
//
//
//
//  #FORM
//
//
//
*******************************************************************************/

/*******************************************************************************
//
//  #FORM
//
*******************************************************************************/

form { margin: 0 0 map-get($spacers, md); }


/*******************************************************************************
//
//  #FIELDSET
//
*******************************************************************************/

fieldset {
    padding: map-get($spacers, sm);
    margin: 0 0 map-get($spacers, md);
}


/*******************************************************************************
//
//  #LEGEND
//
*******************************************************************************/

legend {
    display: block;
    padding: 0 map-get($spacers, sm);
}


/*******************************************************************************
//
//  #LABEL
//
*******************************************************************************/

label {
    display: block;
    margin: 0 0 map-get($spacers, xxs);
}


/*******************************************************************************
//
//  #PLACEHOLDER
//
*******************************************************************************/

@include placeholder { color: var(--color-input-placeholder); }


/*******************************************************************************
//
//  #INPUT AND TEXTAREA
//
*******************************************************************************/

input,
textarea {
    padding: em(4px) em(8px);
    border: 1px solid var(--color-border);

    &:focus {
        border-color: var(--color-border-focus);
        outline: 0;
    }
}

input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    appearance: none;
    width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
    &:focus { outline: none; }
}

textarea {
    appearance: none;
    width: 100%;
    resize: none;
}


/*******************************************************************************
//
//  #FILE
//
*******************************************************************************/

input[type='file'] {
    &:focus { outline: none; }
}


/*******************************************************************************
//
//  #SELECT
//
*******************************************************************************/

select {
    width: 100%;

    &[multiple],
    &[size] { height: auto; }

    &:focus { outline: none; }
}


/*******************************************************************************
//
//  #BUTTON
//
*******************************************************************************/

button {
    &:focus {
        outline: 1px dotted var(--color-accent);
        outline-offset: 4px;
    }
}
