/*******************************************************************************
//
//
//
//  #HORIZONTAL REFERENCE
//
//
//
*******************************************************************************/

hr {
    height: 1px;
    margin: map-get($spacers, lg) 0;
    background: var(--color-border);
    border: 0;
    outline: 0;
}
