/*******************************************************************************
//
//
//
//  #IMAGE
//
//
//
*******************************************************************************/

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

figure { margin: 0 0 map-get($spacers, md); }

picture,
svg { display: block; }