/*******************************************************************************
//
//
//
//  #LIST
//
//
//
*******************************************************************************/

/*******************************************************************************
//
//  #ORDERED AND UNORDERED LISTS
//
*******************************************************************************/

ol,
ul {
    padding-left: 0;
    margin: 0 0 map-get($spacers, md) em(18px);

    li {
        &:not(:last-child) { margin-bottom: map-get($spacers, xs); }
    }

    & ol,
    & ul {
        margin-top: em(5px);
        margin-bottom: 0;
    }
}


/*******************************************************************************
//
//  #DEFINITION LISTS
//
*******************************************************************************/

dd { margin-left: map-get($spacers, md); }
dl { margin: 0 0 map-get($spacers, md); }
dt { font-weight: 700; }
