/*******************************************************************************
//
//
//
//  #LIST BARE
//
//
//
*******************************************************************************/

.o-list-bare,
%o-list-bare {
    margin-left: 0;
    list-style: none;

    &.-inline {
        .o-list-bare__item,
        li {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}