//******************************************************************************
//
//
//
//  #BREAKPOINTS
//
//
//
//******************************************************************************

$breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 768px,
    lg: 960px,
    xl: 1400px,
    xxl: 1920px
);